<header>
  <div class="container">
    <div class="header--wrapper">
      <h1 class="reservation--header">Welcome to reservation</h1>
      <div class="reservation--btns py-30">
        <button [routerLink]="['/']" class="btn btn-primary">
          Book an hotel
        </button>
        <button [routerLink]="['/all-bookings']" class="btn btn-primary">
          Show reservation
        </button>
        <button [routerLink]="['/checkbox']" class="btn btn-primary">
          checkbox
        </button>
      </div>
    </div>
  </div>
</header>
